<p><%= notice %></p>

<h1>トピック一覧</h1>

<% @topics.each do |topic| %>
  <p>タイトル:<%= topic.title %></p>
  <p>本文:<%= topic.content %></p>
  <%= link_to "編集", edit_topic_path(topic.id), data: { confirm: '本当に編集していいですか？' } %>
  <%= link_to '削除', topic_path(topic.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
  <hr>
<% end %>
<br><br>
<%= link_to "トピックを作成する", new_topic_path %>
