
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-xs-3">
      Newsfeed<br>
      Event<br>
      Group<br>
    </div>

  <div class="col-sm-6 col-xs-6">
    <div class="button-center"><%= link_to "トピックを作成する", new_topic_path, class: 'btn btn-default btn-lg btn-block' %></div>

    <% @topics.each do |topic| %>
      <div class="form">
        <%= User.find(topic.user_id).name %><br>
        <%= topic.created_at.strftime("%m/%d/%y at %l:%M %p") %>

        <%= link_to topic_path(topic) do %>
        <h4><strong><%= topic.title %></strong></h4>
        <% end %>
        <p><%= topic.content %></p>
      </div>
    <% end %>
  </div>

  <div class="col-sm-3 col-xs-3"></div>
</div>
