<!DOCTYPE html>
<html>
<head>
  <title>Exam3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    課題３
    <ul>
      <li><%= link_to 'トップ', root_path %></li>
      <li><%= link_to 'トピック', topics_path %></li>
      <li><%= link_to 'プロフィール', edit_user_registration_path %></li>

    </ul>

    <% if user_signed_in? %>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path  %></li>
      <li><%= link_to 'サインアップ', new_user_registration_path %></li>
    <% end %>
  </header>

<%= yield %>

  <footer>
    <p>© 2016 Copyright DIVE INTO CODE Corp.</p>
  </footer>

</body>
</html>
